button{
    background-color: #4a90e2;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
input
{
    width: 450px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}
h1{
    color: seagreen;
    font-size: 30px;
    text-align: center;
    background-color: blanchedalmond;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgb(134, 255, 142);
}